* {
  border: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}
img {
  max-width: 100%;
}
body {
  background-color: #343a40;
  color: #f8f9fa;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.user,
.follower {
  border: 1px solid #f8f9fa;
}
.user {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 2em;
}
.follower {
  padding: 2em;
  margin-bottom: 1.5em;
}
.follower-container {
  display: flex;
  flex-wrap: wrap;
  /* width: 80%; */
  justify-content: space-between;
}
